USE [QUAN_LY_CHAM_CONG]
GO
/****** Object:  Table [dbo].[CHAM_CONG]    Script Date: 12/14/2024 2:28:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAM_CONG](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[ID_The] [nvarchar](50) NULL,
	[Ngay] [date] NULL,
	[Thoi_Gian_Vao] [time](7) NULL,
	[Thoi_Gian_Ra] [time](7) NULL,
	[So_Cong] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 12/14/2024 2:28:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[ID_The] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_The] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 12/14/2024 2:28:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[MaTK] [nvarchar](50) NOT NULL,
	[TenDN] [nvarchar](50) NOT NULL,
	[MK] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHAM_CONG] ON 

INSERT [dbo].[CHAM_CONG] ([STT], [ID_The], [Ngay], [Thoi_Gian_Vao], [Thoi_Gian_Ra], [So_Cong]) VALUES (12, N'04 38 2B AA 78 16 90', CAST(N'2024-12-13' AS Date), CAST(N'18:23:23' AS Time), CAST(N'20:23:23' AS Time), CAST(2.00 AS Decimal(15, 2)))
INSERT [dbo].[CHAM_CONG] ([STT], [ID_The], [Ngay], [Thoi_Gian_Vao], [Thoi_Gian_Ra], [So_Cong]) VALUES (13, N'04 3A 63 AA 78 16 90', CAST(N'2024-12-13' AS Date), CAST(N'18:41:22' AS Time), CAST(N'20:23:23' AS Time), CAST(2.00 AS Decimal(15, 2)))
INSERT [dbo].[CHAM_CONG] ([STT], [ID_The], [Ngay], [Thoi_Gian_Vao], [Thoi_Gian_Ra], [So_Cong]) VALUES (20, N'91 D4 3B 02', CAST(N'2024-12-14' AS Date), CAST(N'13:39:07' AS Time), NULL, CAST(0.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[CHAM_CONG] OFF
GO
INSERT [dbo].[NHAN_VIEN] ([ID_The], [Ten]) VALUES (N'04 38 2B AA 78 16 90', N'Nguyễn Hoàng Phong')
INSERT [dbo].[NHAN_VIEN] ([ID_The], [Ten]) VALUES (N'04 3A 63 AA 78 16 90', N'Nguyễn Quang Ngọc')
INSERT [dbo].[NHAN_VIEN] ([ID_The], [Ten]) VALUES (N'91 D4 3B 02', N'PHONG')
GO
INSERT [dbo].[TAI_KHOAN] ([MaTK], [TenDN], [MK]) VALUES (N'MATK01', N'HUY', N'123')
INSERT [dbo].[TAI_KHOAN] ([MaTK], [TenDN], [MK]) VALUES (N'MATK02', N'PHONG', N'123')
INSERT [dbo].[TAI_KHOAN] ([MaTK], [TenDN], [MK]) VALUES (N'MATK03', N'NGOC', N'123')
GO
ALTER TABLE [dbo].[CHAM_CONG] ADD  DEFAULT ((0)) FOR [So_Cong]
GO
ALTER TABLE [dbo].[CHAM_CONG]  WITH CHECK ADD FOREIGN KEY([ID_The])
REFERENCES [dbo].[NHAN_VIEN] ([ID_The])
GO
